h1{

  width:600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  font-family: "Consolas";
  width:600px;
  margin-left: auto;
  margin-right: auto;
}

a {
    color: blue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
